@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    color: #F3F4F6;
}

.glass-effect {
    background: rgba(30, 41, 59, 0.5); /* Darker glass for better contrast */
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.gradient-text {
    background: linear-gradient(90deg, #3B82F6, #818CF8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
}

#hero {
    background-attachment: fixed;
}

.loader {
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-left-color: #3B82F6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 2rem auto;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes spin {
    to { transform: rotate(360deg); }
}